In [1]:
import pandas as pd
import numpy as np

In [9]:
arr = pd.DataFrame([[35, 21], [41, 34]], index = ['2017 sales', '2018 sales'], columns = ['Apples', 'Bananas'])
arr

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

In [11]:
arr = pd.DataFrame([['Austin', 139, 'Sun'], ['Dallas', 237, 'Sun'], ['Austin', 326, 'Mon'], ['Dallas', 456, 'Mon']], index = ['0', '1', '2', '3'], columns = ['city', 'visitor', 'weekday'])
arr

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

In [13]:
sun_mean = np.average(arr[arr['weekday'] == 'Sun']['visitor'])
mon_mean = np.average(arr[arr['weekday'] == 'Mon']['visitor'])
print(sun_mean, mon_mean)

188.0 391.0